*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #e6e6e6;
    font-family: 'Nanum Gothic', sans-serif;
}
#vol{
    text-align: center;
    font-weight: bolder; color: #00CED1;
    font-size: large;
}
#name{
    float: left;
    text-align: center;
    font-weight: bold; color:#00CED1;
    width: 90px; 
    height: 50px;
    
}

#time{

    text-align: center;
    font-weight: bold; color:#00CED1;
    width: 100px; 
    height: 30px;
}
#bt{
    width: 180px;
    position: absolute;
    top: 45%;
    left: 80%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    border-radius: 4px;
    border-style:none;
    font-size: 24px;
        background-color: #00CED1;
    font-weight: bold; color: #fff;
}
#vn{
    float: center;
    width: 200px; 
    height: 20px;
    transform: translate(-50%, 60%);
    border-radius: 20px;
   border-color:#00CED1;
   border-width: thick;
}
#vt{
    float: center;
    border-radius: 20px;
    width: 200px; 
    height: 20px;
    transform: translate(-30%, -10%);
    border-color:#00CED1;
    border-width: thick;
}
#blo{
    color:red;
    float:left;
}