#hanseimypage{
    width:500px;
    height:600px;
    position:absolute;
    left:45%;
    right:50%;
    top:20%;
    margin-left:-180px;
    margin-top:-150px;
}
#hansei{
    text-align:center;
    font-size:xx-large;
    font-family:'Times New Roman', Times, serif;
}
#left{
    position: static;
    float: left;
    width: 500px; 
    height: 300px;
    font-weight: bold; color: red;
    border :2px solid black;
    border-width :large;
    justify-content : center;
    font-family: monospace;
    font-size: large;
    text-align: center;

}
#right{
    position: static;
    width: 500px; 
    height: 300px;
    text-align: center;
    font-weight: bold; color: red;
    border :2px solid black;
    border-width :large;
    justify-content : center;

}

p{
    font-size:larger;
    text-decoration: none; 
    font-weight: bold; color:darkgreen;
    text-align: center;

}
.button {
    background-color: blue;
    text-align: center;

}

.ch{
   
    width: 200px;
    float: left;
    font-weight: bold; color:navy;
    background-color: beige;
}
.cal{
    float: left;
    font-weight: bold; color:red;
 

}
#logout{
    background-color:blue;
    font-weight: bold; color: white;
}