#pc{
    text-align: center;
    font-weight: bolder; color: red;
    font-size: large;
}
#newch{
    text-align: center;
    font-weight: bold; color:olivedrab;
}
#bt{
    width: 100px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    background-color: beige;
    font-weight: bold; color: black;
}
#pw{
    float: center;
    width: 200px; 
    height: 20px;
}
#npw{
    float: center;
    width: 200px; 
    height: 20px;
}