*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #e6e6e6;
    font-family: 'Nanum Gothic', sans-serif;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
ul,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
button{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
table{
    border-spacing: 0;
    table-layout: fixed;
    border-collapse: collapse;
}
fieldset{
    border: none;
    padding: 0;
    margin: 0;
}
legend{
    display: none;
}

form{
    margin-top: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    padding: 30px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

table{
    width: 80%;
    font-size: 15px;
    text-align: left;

}
tr{
    height: 60px;
    border-bottom: 1px solid #f7f7f7;
    width: 400px;
}
tr:last-child{
    border-bottom: none;
}

th span{
    position: relative;
    padding-left: 15px;
    margin-left: 30px;

}
th span::after{
    content: '*';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    margin-left: 20px;

}

.tbl_join {
    width: 550px;
    margin-left: 200px;

}
.tbl_join input{
    min-width: 300px;
    height: 40px;
    background: #f7f7f7;
    border: none;
    margin-left: 80px;


}
.tbl_join input:focus{
    outline: none;
}


.btn_wrap{
    margin-top: 30px;
    text-align: center;
}
.btn_wrap .btn_join{
    display: inline-block;
    width: 150px;
    height: 45px;
    border-radius: 20px;
    line-height: 45px;
    color: #fff;
    background: rgb(75, 222, 136);
    /* border: 1px solid rgb(75, 222, 136); */
}
.logo{
    text-align: center;
    border-radius: 30px;
    border: 10px solid rgb(123, 120, 123);
    width: 600px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,25%);
    background-color: #fff;
}   

