.root2-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .logo2-container {
    position: absolute;
    right: 46vw;
    top: 1vw;
  }
  
  .box-container {
  
  }
  
  .notice-text {
    
  }