*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background: #e6e6e6;
  font-family: 'Nanum Gothic', sans-serif;
}

.root2-container {
  position: relative;
  width: 100%;
  height: 100%;

}

.logo2-container {
  position: absolute;
  right: 47vw;
  top: 1vw;
  
}

.box-container {
  border: 3.1px solid rgb(68, 194, 152);
  margin-left: 12px;
  margin-right: 11px;
  margin: 150px 0px;
  border-radius: 50px;
  padding: 2vw;
  width: 70vw;
  height: 35vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
}

.notice-text {
  font-size: 1.4vw;
  text-align: left;
  font-weight: bold;
  color: black;
}

p {
  color: red;
  font-size: 0.3vw;
  position: absolute;
  left: 17%;
  bottom: 27%;
  transform: translateX(-50%);
  
  
}

li {
  list-style-type: disc;
  padding-left: 3px;
}

li::marker {
  color: rgb(68, 194, 152);
}

.logo3-container {
  position: absolute;
  right: -15.5vw;
  top: -5.5vw;
  transform: translateX(-50%);

}